*{
    margin: 0;
}
.u{
    height: 30px;
}
.flexd{
    display: flex;
}
.formatar{
    font-family: "Itim", cursive;
    font-weight: 400;
    list-style: none;
}
.beje{
    background-color: #f1d9ae;
    height: 100vh;
}
.flex{
    display: flex;
    justify-content: center;
}
.foliea{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    color: white;
    padding-top: 50px;
}
.tamanho{
    width: 120px;
}
.devy{
    font-family: "Itim", cursive;
    font-style: normal;
    font-weight: 400;
    list-style: none;
    color: white;
    padding-top: 50px;
}
.width{
    width: 40%;
    padding: 10px 10px 10px;
}
.btn{
    color: black;
    background-color: #CA9066;
    font-family: "Itim", cursive;
    font-style: normal;
    font-weight: 400;
    border: none;
}
.display{
    display: flex;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 20vh 30vh 20vh;
}
.fl{
    display: flex;
    align-items: center;
}
.flexin{
    display: flex;
    align-items: center;
}
.cook{
width: 200px;
}
.brigadeiro{
    width: 200px;
}
.empadinha{
    width: 150px;
}
.pao{
    width: 200px;
}
.paos{
    width: 200px;
}
.cappucino{
    width: 200px;
}
.bolo{
    width: 200px;
}
.coxinha{
    width: 250px;
}
.biscoito{
    width: 250px;
}
.c{
    display: flex;
    align-items: center;
}
.d{
    display: flex;
    align-items: center;
}